<div class="ml-4">

  <form [formGroup]="celerioForm" *ngIf="showForm">
    <!--<formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>-->
    <div>
      <h4>Application Settings</h4>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="rootPackage">Root Package</label>
          <input class="form-control form-control-sm" id="rootPackage" type="text" formControlName="rootPackage">
        </div>

        <div class="form-group col-md-4">
          <label for="applicationName">Application Name</label>
          <input class="form-control form-control-sm" id="applicationName" type="text" formControlName="applicationName">
        </div>

        <div class="form-group col-md-4">
          <label for="schemaName">Schema Name</label>
          <input class="form-control form-control-sm" id="schemaName" type="text" formControlName="schemaName">
        </div>
      </div>
    </div>

    <div formArrayName="entityConfig">
      <h5>Entities</h5>
      <div *ngFor="let config of entityConfig;let entityConfigIndex=index;" class="entities-container">
        <div [formGroupName]="entityConfigIndex">
          <div class="form-row">
            <h4 class="col-12">{{config.value.tableName}}</h4>
            <div class="form-group col-md-6">
              <label for="entityName">Entity</label>
              <input class="form-control form-control-sm" id="entityName" formControlName="entityName" />
            </div>
            <div class="form-group col-md-6">
              <label for="sequenceName">Sequence</label>
              <input class="form-control form-control-sm" id="sequenceName" formControlName="sequenceName" />
            </div>
          </div>
          <table class="table table-bordered pagin-table table-striped" style="margin-bottom: 5px;">
            <thead>
               <tr>
                  <th class="w-10">Field Name</th>
                  <th class="w-10">Label</th>
                  <th class="w-10">Options</th>
                  <th class="w-5">Display order</th>
                  <th class="w-10">Shared enum name</th>
                  <th class="w-10">Type</th>
                  <th class="w-10">Mapped type</th>
                  <th>Relation</th>
               </tr>
            </thead>
            <tbody id="crttblbody" class="ui-sortable" formArrayName="columnConfigs">
              <tr *ngFor="let column of getColumnConfigsFor(entityConfigIndex);let columnIndex=index;" [formGroupName]="columnIndex">
                <td>
                  <div class="form-group">
                    <input class="form-control form-control-sm" id="fieldName" formControlName="fieldName" />
                    <label class="info-label-small mt-2 font-weight-bold">{{column.value.columnName}}</label>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input class="form-control form-control-sm" id="label" formControlName="label" />
                  </div>
                </td>
                <td>
                  <div>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="checkbox" id="formField" formControlName="formField">
                      <label class="form-check-label" for="formField">Form field</label>
                    </div>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="checkbox" id="searchField" formControlName="searchField">
                      <label class="form-check-label" for="searchField">Search field</label>
                    </div>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="checkbox" id="searchResult" formControlName="searchResult">
                      <label class="form-check-label" for="searchResult">Search result</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="version" formControlName="version">
                      <label class="form-check-label" for="searchResult">Version</label>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <div class="form-group">
                      <input class="form-control form-control-sm" id="displayOrder" formControlName="displayOrder" />
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <div class="form-group">
                      <input class="form-control form-control-sm" id="sharedEnumName" formControlName="sharedEnumName" />
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <div class="form-group">
                      <input class="form-control form-control-sm" id="type" formControlName="type" />
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <div class="form-group">
                      <input class="form-control form-control-sm" id="mappedType" formControlName="mappedType" />
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" id="onetomany" formControlName="oneToMany">
                        <label class="form-check-label" for="onetomany">One to Many</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="bidirectional" formControlName="bidirectional">
                        <label class="form-check-label" for="bidirectional">Bidirectional</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <input class="form-control form-control-sm" id="var" placeholder="Var" formControlName="var" />
                      </div>
                      <div>
                        <input class="form-control form-control-sm" id="elementvar" placeholder="Element Var" formControlName="elementVar" />
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary submit-button" [disabled]="!celerioForm.valid">Submit</button>
  </form>
</div>
