.entities-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding-top: 0px;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}

.info-label-small {
  display: block;
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 0.20rem;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f9f9f9;
}

.fieldset {
  border-top: 2px solid #4f7298;
}

.fieldset legend {
  color: #4f7298;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 1.0rem;
}
